.nav-container{
   
    border-bottom: 2px solid darkblue;
    padding-bottom: 1em;

    
}

.row-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}



